/* BASIC STYLES HERE */
body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: var(--cheese)
}


:root {
  --gold: #eaac0f;
  --cheese: #e6cc8c;
  --pink: #ff00ff;
  --pink-dark: #ba318f;
  --blue: #00ffff;
  --blue-dark: #22226d;
}

#portal-icons:hover {
  cursor: pointer;
}

.navbar {
  background-color: #edb94a;
}

.card>img {
  margin: auto;
  margin-top: 5dvh;
  margin-bottom: 5dvh;
}

.gold {
  color: var(--gold)
}

.bg-gold {
  background-color: var(--gold)
}

.cheese {
  color: var(--cheese)
}

.bg-cheese {
  background-color: var(--cheese)
}

.pink {
  color: var(--pink)
}

.bg-pink {
  background-color: var(--pink)
}

.pink-dark {
  color: var(--pink-dark)
}

.bg-pink-dark {
  background-color: var(--pink-dark)
}

.blue {
  color: var(--blue)
}

.bg-blue {
  background-color: var(--blue)
}

.blue-dark {
  color: var(--blue-dark)
}

.bg-blue-dark {
  background-color: var(--blue-dark)
}

.selection-key {
  height: 80%;
  aspect-ratio: 1/1;
  position: relative;
  background: linear-gradient(-45deg, #ffffff1b, #ffffff4b);
}

.glass {
  border: 1px rgba(255, 255, 255, 0.3) solid;
  background: linear-gradient(-45deg, #6ed1e31b, #bddfea4b);

}

.wood {
  background-color: #522600;
  background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}