<section class="row">
  <!-- buttons and active card -->
  <div class="col-4">
    <!-- addMoney button -->
    <button class="btn btn-success m-1" onclick="app.PortalController.addMoney()"><span
        id="money">+CREDITS</span></button>

    <!-- buySpecific button -->
    <button class="btn btn-primary m-1" onclick="app.PortalController.buySpecificPortal(`${this.name}`)">Jump
      In</span></button>

    <!-- buyRandom button -->
    <button class="btn btn-primary w-100 m-1" onclick="app.PortalController.buyRandomPortal()"><span id="">Roll the
        Dice</span></button>


    <div id="active-portal" class="card shadow portal-card p-2">
      <!-- <img width="250px" height="250px" src="${this.imgUrl}" alt="" class="card-img">
      <div class="card-body">
        <h2 class="text-center">Pizza Portal</h2>
      </div>
      card will display here -->
    </div>

  </div>
  <div class="col-8 bg-body-secondary">
    <!-- display card buttons -->
    <section id="portal-icons" class="row justify-content-center p-3 bg-dark"></section>
  </div>


  </div>

</section>


<section class="row justify-content-around">
  <!-- <button class="btn btn-success col-4" onclick="app.PortalController.addMoney()"><span id="money">$0.00</span></button>
  <button class="btn btn-primary col-4" onclick="app.PortalController.buyRandomPortal()"><span id="active-portal">Jump
      In</span></button> -->
</section>