<section class="row">
  <div class="col-8 bg-body-secondary">
    <section id="portal-icons" class="row justify-content-center p-3 bg-dark"></section>
  </div>
  <div class="col-4">
    <button class="btn btn-success w-100 m-1" onclick="app.PortalController.addMoney()"><span
        id="money">$0.00</span></button>
    <button class="btn btn-primary w-100 m-1" onclick="app.PortalController.buyRandomPortal()"><span id="">Roll the
        Dice</span></button>

    <button class="btn btn-primary w-100 m-1" onclick="app.PortalController.buySpecificPortal(`${this.name}`)"><span
        id="active-portal">Jump
        In</span></button>

    <!-- <button class="btn btn-primary w-100 m-1" onclick="app.PortalController.buySpecificPortal('🎯')"><span
        id="active-portal">Jump In</span></button> -->
  </div>

  <!-- <div class="card shadow portal-card p-2">
          <img width="250px" height="250px" src="assets/img/Pizza Portal_0001.png" alt="" class="card-img">
          <div class="card-body">
            <h2 class="text-center">Pizza Portal</h2>
          </div>
          card will display here
        </div> -->

  </div>

</section>


<section class="row justify-content-around">
  <!-- <button class="btn btn-success col-4" onclick="app.PortalController.addMoney()"><span id="money">$0.00</span></button>
  <button class="btn btn-primary col-4" onclick="app.PortalController.buyRandomPortal()"><span id="active-portal">Jump
      In</span></button> -->
</section>