<section class="container-fluid">
  <div class="row mt-3">
    <!-- buttons and active card -->
    <div class="col-4">

      <!-- addMoney button -->
      <button class="btn bg-pink m-1 w-75" onclick="app.PortalController.addMoney()"><span
          id="money">+CREDITS</span></button>


      <!-- buySpecific button -->
      <div id="buySpecificButton">

      </div>



      <!-- buyRandom button -->
      <button class="btn bg-gold w-100 p-2 m-1" onclick="app.PortalController.buyRandomPortal()"><span id="">Roll
          the
          Dice & Buy a Slice</span></button>

      <div id="active-portal" class="portal-card p-2">
      </div>

    </div>
    <div class="col-8 bg-blue-dark rounded rounded-2">
      <!-- display card buttons -->
      <section id="portal-icons" class="row justify-content-aroundm-2 p-3"></section>
    </div>


  </div>

</section>

<section class="container-fluid justify-content-around p-3 bg-dark">
  <h2 class="text-center text-light">My Collection</h2>
  <div id="my-portals" class="row">

  </div>

  <section class="row justify-content-around">
    <!-- <button class="btn btn-success col-4" onclick="app.PortalController.addMoney()"><span id="money">$0.00</span></button>
  <button class="btn btn-primary col-4" onclick="app.PortalController.buyRandomPortal()"><span id="active-portal">Jump
      In</span></button> -->
  </section>